/Assets/MetaXR
/Assets/Oculus
/Assets/PassthroughCameraApiSamples
/Assets/Plugins
/Assets/Resources
/Assets/Unity.VisualScripting.Generated
/Assets/Scenes
/Assets/XR
/Library
/Logs
/ProjectSettings
/UserSettings
/.vs
/Temp
